{% extends 'dram/base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container-fluid-lg bg">
    <section class="row justify-content-center">
        <section class="col-12 col-sm-6 col-md-3">
            <form class="form-container" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <legend class="border-bootom mb-4">
                        Join Today
                    </legend>
                    {{form | crispy}}
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <br>
                <button class="btn btn-primary btn-block" type="submit">Log In </button>

                <div class="border-top pt-3">
                    <small class="text-muted"> Already have an Account ? <a href="{% url 'login' %}">Log In</a>
                        </small>

                </div>
            </form>

        </section>
    </section>


</div>
{% endblock content %}